.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 7.5%;
}

.btn {
  font-size: 1.5rem;
  position: relative;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  color: $color-primary;
  text-align: center;
  text-decoration: none;
  flex: 0 1 190px;
  margin: 20px 10px;
  border-radius: 55px;
} 

.svg-btn,
.svg-btn rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  z-index: -5;
}

.svg-btn {
  height: 100%;
}

.svg-btn rect {
  stroke-width: 4;
  height: 80%;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 340;
  transition: all 600ms ease;
}

.btn:hover .svg-btn rect {
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
}

.active .svg-btn rect {
  stroke-width: 0;
}

.btn-background {
  opacity: 0;
}

.active .svg-btn .btn-background {
  opacity: 1;
}