.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem;
}

.btn {
  font-size: 1.5rem;
  position: relative;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  color: $color-primary;
  text-align: center;
  text-decoration: none;
  flex: 0 1 250px;
  margin: 20px 10px;
  border-radius: 55px;

  display: flex;
  align-items: center;
} 

.svg-btn,
.svg-btn rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  z-index: -5;
}

.svg-btn {
  height: 100%;
}

.svg-btn rect {
  stroke-width: 4;
  height: 80%;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 220;
  transition: all 600ms ease;
}

.btn:hover .svg-btn rect {
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
}

.active .svg-btn rect {
  stroke-width: 0;
}

// hide linear gradient background
.btn-background {
  opacity: 0;
}

// shows linear gradient background 
.active .svg-btn .btn-background {
  opacity: 1;
}

// default background 
.btn-stroke {
  fill: $color-fourth;
}

.btn-play-pause {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background: white;
  margin: 0 10px 0 15px;
  z-index: -1;
}

.btn-play-pause svg { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
}

.btn-play-pause polygon {
  fill: $color-primary;
  stroke: $color-fifth;
}

.btn-play-pause g {
  stroke-width: 3;
  stroke: $color-fifth;
  opacity: 0;
}