.music-bars-box {
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  margin: 0;
  width: 100%;
}

.music-bar {
  padding: 0;
  margin: 0;
  width: 21px;
  // position: relative;
  bottom: 0;
  display: inline-block;
  vertical-align: bottom;
  // height: 200px;
  background-color: rgba($color-secondary, .5);
}