.play,
.pause {
  z-index: 1;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  background-color: $color-primary;
}

.play {
  border: 1px solid red;
}

.pause {
  border: 1px solid blue;
  opacity: 0;
}